#wrapper{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    background-image: url(../img/båt_bakgrund.png);
    background-size: cover;
}

#wrapper2{
    display: grid;
    grid-template-columns:1fr 1fr 1fr ;
    grid-template-rows: 70px 100px 1fr 1fr;
    gap: 10px;
    background-image: url(../img/havs_backgrund.png);
    background-size: cover;
    grid-template-areas:
    
    "na na na"
    ". hd ."
    ". sh ."
    ". sh ."
      
}



body {
    background-color: #f3f4f6;
    font-family: Arial, sans-serif;
    gap: 10px;

}

nav{
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 10px
}

header{
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

main{
    height: 550px;
}

h1{
    color: #404047;
}

h2{
    justify-self: center;
    font-size: 2.125rem ;
    color: #b9b9c5;
    text-align: center;
}

p{
    color: rgba(240, 248, 255, 0.418);
}

.nav{
    width: 100px;
    height: 60px;

    border: none;
    padding: 20px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.2s;
}

.nav:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.44), 0 17px 50px 0 rgba(0,0,0,0.19);
    text-decoration: underline;
    border-radius: 10px;
}

a{
    color: #000;
    text-decoration: none;
}

.main{
    flex: auto;
    display: flex;
    flex-direction: row;
    width:auto;
    height: auto;
    justify-content: space-evenly;
    align-self: center ;
    gap: 100px;

}

.bröd{
    word-break: break-all;
    padding: 30px;
}

/*mobile*/

@media screen and (max-width:532px) {

    #wrapper{
        background-position: center;
        position: relative;
    }

    nav{
        grid-area: na;
        justify-content: center;

        gap: 10px;
    }
    .nav{
        border-radius: 10px;
        background-color: rgba(179, 183, 186, 0.1);
        border-style: solid;
        border-color: rgba(185, 185, 197, 0.1);
        height: 30px;
    }

    header{
        height: 70px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    main{
        height: 850px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .bubble {
        position: absolute;
    
        background: rgba(255, 255, 255, 0.3);
        border-radius: 50%;
        opacity: 0.6;
        animation: rise 5s infinite ease-in;
    }

    .hed2{
        grid-area: hd;
        align-content: center;
    }

    #shop{
        grid-area: sh;
        display: flex ;
        gap: 10px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    .block{
        display: flex ;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px
    
    }
    
    .post{
        border-style: solid;
        border-color: rgba(185, 185, 197, 0.1);
        border-radius: 10px;
        padding: 10px;
        height: 30vh;
        width: 40vw;
        background-color: rgba(179, 183, 186, 0.2);
        
        justify-items: center;
        align-items: center;


    }

    .pp{
        word-wrap: break-word;
        overflow-wrap: break-word;
        color: #b9b9c5;

    }

    .shop_img {
        width: 25vw;
        object-fit: cover;
    }

    @keyframes rise {
        0% {
            transform: translateY(0vh);
            opacity: 0.6;
        }
        100% {
            transform: translateY(-100vh);
            opacity: 0;
        }
    }

}